html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  background-color: #35477d;
}
.navigation {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: #000;
  opacity: 0.9;
  z-index: 100;
  transition: all 1s;
}
.navigation .logo {
  width: 40%;
}
.navigation .logo .logoImg {
  width: 100px;
}
.navigation .logo:hover {
  cursor: pointer;
}
.navigation .nav-bar {
  width: 35%;
  min-width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation .nav-bar a {
  text-decoration: none;
  font-size: 1.8rem;
  color: #f67280;
}
.navigation .nav-bar a:hover {
  color: white;
}
.navigation .nav-bar .logs {
  border: 2px solid #f67280;
  border-radius: 5px;
  padding: 8px 3px;
}
.navigation .nav-bar .logs a {
  padding: 0 20px 0 5px;
}
.navigation .nav-bar .logs a:first-child {
  border-right: 1px solid #f67280;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: no-wrap;
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/Header_image2_flip.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 99%, 0 95%);
}
header .hero-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .hero-content .heading-primary {
  font-size: 12rem;
  font-weight: bold;
  background-image: linear-gradient(to right, #35477d, #f67280);
  color: transparent;
  -webkit-background-clip: text;
}
header .hero-content .hero-text {
  color: #fff;
  font-size: 3rem;
  text-align: center;
}
.quote-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: no-wrap;
  position: relative;
  width: 100%;
  height: 30vh;
  background-color: #35477d;
  clip-path: polygon(0 0, 50% 5%, 100% 0, 100% 95%, 50% 100%, 0 95%);
  margin-top: -35px;
  overflow-x: hidden;
  background-image: url(../images/Quotes_image.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 200px 0;
}
.quote-section .quote-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: no-wrap;
  width: 30%;
  height: 180px;
  min-width: 500px;
  font-size: 3rem;
  border: 3px solid #000;
  border-radius: 20px;
  margin: 0 60px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.6);
}
.quote-section .quote-card .arrows {
  color: #445ba1;
  font-size: 8rem;
  z-index: 15;
  cursor: pointer;
  text-shadow: 0 5px 10px #000;
}
.quote-section .quote-card .arrows.back-arrow {
  position: absolute;
  top: 50%;
  left: -10%;
  transform: translate(-50%, -50%);
}
.quote-section .quote-card .arrows.forward-arrow {
  position: absolute;
  top: 50%;
  left: 110%;
  transform: translate(-50%, -50%);
}
.quote-section .quote-card .arrows:hover {
  color: #fcd2d6;
}
.quote-section .quote-card.active {
  position: absolute;
  top: 50%;
  left: 46%;
  transform: translate(-50%, -50%);
  height: 200px;
  background-color: #f67280;
  border: 3px solid #6c5b7b;
  z-index: 10;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.8);
}
.quote-section .quote-card.prev {
  position: absolute;
  top: 45%;
  left: 2%;
  transform: translate(-50%, -50%);
}
.quote-section .quote-card.next {
  position: absolute;
  top: 45%;
  left: 90%;
  transform: translate(-50%, -50%);
}
