.main-section {
    .flex();
    margin-top: 10px;
    height: 90vh;

    .select-subject {
        width: 11%;
    
        .main-nav {
            padding-top: 80px;
        }

        .main-link {
            text-decoration: none;
            color: @colorPrimary;
        }

        .nav-list {
            padding: 8px 0 8px 10px;
            border: 3px solid transparent;
            font-size: 2rem;
            color: @white;
            

            &:hover {
                background-color: @colorTertiary;
                transform: translateX(5px);
                border: 3px solid @black;
                border-right: 5px solid @colorTertiary;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                padding-left: 20px;
                color: @colorPrimary;      
            }
        }
    }

    .main-content {
        .flex(row, space-evenly, space-evenly, wrap);
        width: 74%;
        height: 80vh;
        background-color: @colorTertiary;
        border: 3px solid @black;
        border-radius: 22px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, .15);
        overflow-y: scroll;
        padding: 40px 0;

        .book-box {
            background-color: @black;
            width: 20%;
            min-width: 200px;
            height: 300px;
            border: 3px solid @black;
            border-radius: 20px;
            overflow: hidden;
            cursor: pointer;

            // &:nth-last-child(1),
            // &:nth-last-child(2),
            // &:nth-last-child(3),
            // &:nth-last-child(4) {
            //     margin-bottom: 0;
            // }


            .heading-tertiary {
                .flex(row, center, center);
                background-color: @colorPrimary;
                height: 45px;
                border-bottom: 3px solid @black;
                font-size: 2rem;
                text-align: center;
                color: @colorQuaternary;
            }

            .book-figure {
                width: 100%;
                height: 215px;
                object-fit: cover;

                & img {
                    width: 100%;
                    height: 215px;
                    
                }
            }

            .rating {
                // display: none;
                background-color: @colorQuaternary;
                height: 30px;
                border-top: 3px solid @black;
                border-bottom-right-radius: 20px;
                border-bottom-left-radius: 20px;
                padding-top: 7px;
                font-size: 2rem;
                text-align: center;  
                cursor: pointer;
                z-index: 100;
                transition: all .5s;

                &.hidden {
                    transform: translateY(40px);
                    opacity: 0;
                }

                &.shown {
                    // display: block;
                    transform: translateY(-40px);
                    opacity: 1;   
                }
            }

            

            .book-info {
                display: block;
                height: 30px;
                border-top: 3px solid @black;
                border-bottom-right-radius: 20px;
                border-bottom-left-radius: 20px;
                padding-top: 7px;
                font-size: 2rem; 

                & .currentRate {
                    margin: 0 30px 0 50px;
                    color: @colorQuaternary;
                }

                & .reviews {
                    color: @colorQuaternary;
                }
            }
        }
    }

    .fav-box {
        width: 16%;
        overflow-y: scroll;
        padding-top: 80px;

        .fav-list {
            height: 70vh;
            background-color: @colorTertiary;
            border-top: 3px solid @black;
            border-right: 3px solid @black;
            border-bottom: 3px solid @black;
            border-top-right-radius: 40px;
            border-bottom-right-radius: 40px;
            

            .fav-title {
                .flex(row, center, center);
                width: 80%;
                height: 40px;
                background-color: @colorPrimary;
                border-right: 3px solid @black;
                border-bottom: 3px solid @black;
                border-left: 3px solid @black;
                border-bottom-right-radius: 20px;
                border-bottom-left-radius: 20px;
                font-size: 2.8rem;
                font-weight: bold;
                padding: 10px 0;
                margin: 0 auto;
                color: @colorQuaternary;
            }

            .fav-item {
                .flex(row, center, center);
                width: 90%;
                height: 45px;
                margin: 0 auto;
                background-color: @colorPrimary;
                border: 3px solid @black;
                border-radius: 10px;
                font-size: 2rem;
                color: @colorQuaternary;
                text-align: center;
                cursor: pointer;

                &:hover {
                    border: 3px solid @white; 
                }
                
            }
        }

        .drop-zone {
            width: 97%;
            height: 61.5vh;
            border: 3px solid @colorQuaternary;
            border-bottom-right-radius: 40px;
        }
        
    }
}