.cta-section {
    background-color: @colorTertiary;
    position: relative;
    height: 600px;
    margin-top: 100px;
    clip-path: polygon(0 0, 50% 5%, 100% 0, 100% 95%, 50% 100%, 0 95%);

    @media @mobile {
        height: 550px;
    }

    .bg-video {
        width: 100%;
        height: 100%;
        opacity: .5;

        &__content {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }   
    }

    .cta-box {
        .absolute-position(50%); 
        width: 60%;
        margin: 0 auto;
        overflow: hidden;  

        @media @mobile {
            width: 90%;
        }
    
    }    
}

.cta-card {
    position: relative; 
    height: 500px;  
    transform: translateY(200%);

    @media @mobile {
        height: 400px; 
    }
    
    .card-side { 
        .absolute-position(50%, 50%); 
        perspective: 150px;
        width: 100%;
        height: 500px;
        transition: all 2s;
        backface-visibility: hidden;
        border-radius: 20px;
        overflow: hidden;

        @media @mobile {
            height: 400px; 
        }
        

        &__front {
            .flex(row, center, center);
            box-sizing: border-box;
            background-image: linear-gradient(to bottom right, @colorTertiary, @colorQuaternary); 
            border: 3px solid @purple;

            @media @tablet {
                .flex(row, center, center);
            }
        }

        &__back {
            .absolute-position(0, 0);
            box-sizing: border-box;
            background-image: linear-gradient(to bottom right, @colorTertiary, @colorQuaternary);
            transform: rotateY(-180deg);
            border: 3px solid @purple;
        }

        .cta-img {
            width: 80%;
            margin: 0 auto;

            img {
                width: 100%;
                border-radius: 10px;
                border: 3px solid @purple;
            }
        }   
    }

    &:hover .card-side__back {
        transform: rotateY(0); 
    }  
    
    &:hover .card-side__front {
        .absolute-position(0, 0);
        transform: rotateY(180deg);
    }  
    
    .signUp-form {
        .flex(column, center, center);
        padding: 30px;
        font-size: 2.5rem;
        text-align: center;
        color: @purple;

        @media @tablet {
            font-size: 2rem;
        }

        @media @smallTablet {
            font-size: 1.6rem;
        }

        @media @mobile {
            font-size: 1.8rem; 
            padding: 20px;
        }

        .heading-tertiary {
            font-size: 3rem;
            margin-bottom: 20px;

            @media @tablet {
                font-size: 2.3rem;
            }

            @media @mobile {
                font-size: 1.9rem; 
                margin-bottom: 10px;
            }
        }

        .input,
        .rating {
            margin-bottom: 10px;
        }

        label {
            margin-right: 35px;

            @media @mobile {
                margin-right: 26px;
            }
        }

        .surname-label {
            margin-right: 5px;
        }

        .password-label {
            margin-right: 0;
        }

        .rating {
            @media @tablet {
                padding: 0 15%;
            }

            .rating-label {
                margin-right: 0;
            }
        }  

        input {
            width: 150px;
            height: 20px;
            border-radius: 20px;
            font-size: 1.8rem;
            padding-right: 5px;

            &:focus {
                outline: none;
            }

            &:invalid {
                border: 3px solid @purple;
            }

            &:valid {
                border: 3px solid @colorQuaternary;
            }

            @media @smallTablet {
                font-size: 1.5rem;
                height: 13px;
            }
        }

        .selection {
            width: 150px;
            height: 30px;
            font-size: 1.5rem;

            @media @tablet {
                margin-top: 5px;
            }

            @media @mobile {
                height: 25px;
            }

            &:focus {
                outline: none;
            }

            &:invalid {
                border: 3px solid @purple;
            }

            &:valid {
                border: 3px solid @colorQuaternary;
            }
        }

        .feedback-label {
            margin-bottom: 20px;

            @media @tablet {
                margin-left: 35px;
                text-align: center;
            }

            @media @smallTablet {
                margin-left: 20px;
                // text-align: left;
            }

            @media @mobile {
                margin-bottom: 10px;
            }
        }

        textarea {
            width: 600px;
            height: 100px;
            margin-top: 10px;
            border-radius: 10px;
            padding: 5px;
            margin-left: 0;
            font-size: 2rem;

            @media @smallDesktop {
                width: 500px;
                height: 80px;
            }

            @media @tablet {
                width: 400px;
                padding: 10px;
            }

            @media @smallTablet {
                width: 350px;
                height: 80px;
            }

            @media @mobile {
                height: 30px;
            }

            &:focus {
                outline: none;
            }

            &:invalid {
                border: 3px solid @purple;
            }

            &:valid {
                border: 3px solid @colorQuaternary;
            }
        }

        .submit-btn {
            margin-top: 10px;
            margin-left: -20px;
            padding: 10px 40px;
            border-radius: 25px;
            font-size: 1.7rem;
            font-weight: bold;
            border: 2px solid @colorQuaternary;
            background-color: @colorQuaternary;
            color: @purple;
            cursor: pointer;
            transition: .3s;

            @media @tablet {
                margin-top: 0;
                font-size: 1.3rem;
            }

            @media @smallTablet {
                margin-top: 5px;
            }

            @media @mobile {
                padding: 5px 20px;
            }

            &:hover {
                transform: translateY(-5px) scale(1.05);
                box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
                color: @colorPrimary;
            }

            &:active {
                transform: translateY(-2px) scale(1);
                box-shadow: 0 2px 10px rgba(0, 0, 0, .5);
            }
        }
    }
}