.feature-section {
    height: 100vh;

    @media @mobile {
        height: 200vh;
    }

    .feature-box {
        .flex(row, space-between, center);
        background-color: transparent;

        @media @mobile {
            .flex(column, space-between, center);  
            text-align: justify;
        }

        .featureImg {
            width: 70%;
            min-width: 300px;
            height: 400px;
            min-height: 300px;

            .feature-img {
                width: 110%;

                @media @mobile {
                    width: 100%; 
                }
            }
        }

        .feature-content {
            .flex(column, center, center); 
            padding: 30px;
            margin-bottom: -50px;

            @media @mobile {
                margin-top: -50px;
                color: @lighterWhite;
            }

            .heading-secondary {
                font-size: 2.5rem;
                margin-bottom: 20px;

                @media @mobile { 
                    text-align: center;
                    color: @white;
                }

                &:first-child {
                    margin-top: 150px;
                }

                &:last-child {
                    margin-top: -100px;
                }
            }

            .feature-text {
                font-size: 2rem;
                line-height: 1.1;
            }
        }

        &.reverse {
            .flex(row-reverse, space-between, center); 
            text-align: right;

            @media @mobile {
                .flex(column, space-between, center);  
                text-align: justify;
            }

            .featureImg {
                margin-right: 50px;
                margin-bottom: -100px;

                @media @mobile {
                    margin-right: 0;
                }
            }

            .feature-text {
                .flex(column, center, center);
                margin-bottom: 100px;
                line-height: 1.1;
            }
        }
    }
}