html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    box-sizing: inherit;
    background-color: black;

    &::-webkit-scrollbar{
        width: 0; 
        height: 0; 
    }
}

.container {
    position: relative;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    background-image: linear-gradient(to bottom right, @colorTertiary, @colorQuaternary);
}

