//GOOD ONE 
//@colorPrimary: #222831; 
//OR
// @colorPrimary: #900048;
// @colorSecondary: #ff0b55;
// @colorTertiary: #0075f6;
// @colorQuaternary: #ffce76;

//Nices palette
// @colorPrimary: #222831;
// @colorSecondary: #393e46;
// @colorTertiary: #00adb5;
// @colorQuaternary: #ffce76;
// @black: #900048;

//BEST ONE 
@colorPrimary: #283149;
@colorSecondary: #393e46;
@colorTertiary: #defcfc;
@colorQuaternary: #ffce76;




@white: #fff;
@lighterWhite: #eef;

// @black: #900048;
//New black
//@colorPrimary: #222831; 
@black: #1d1919;
@red: #ff0b55;
@purple: #900048; 


//Media queries
@bigDesktop: ~"(min-width: 1400px)";
@tablet: ~"(max-width: 900px)";
@mobile: ~"(max-width: 600px)";