//Colors
@colorPrimary: #35477d;
@colorSecondary: #6c5b7b;
@colorTertiary: #c06c84;
@colorQuaternary: #f67280;
@white: #fff;
@lighterWhite: #eef;
@black: #000;

//Media queries
@bigDesktop: ~"(max-width: 1800px)";
@tablet: ~"(max-width: 900px)";
@mobile: ~"(max-width: 600px)";